<p id="notice"><%= notice %></p>

<div class="container my-4">
  <h1>Mis eventos</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>  
    <% @events.each do |event| %>
    <%if current_user.id == event.user_id%>      
      <tr class="table-info">        
        <td class="border"><strong>Nombre:</strong> <%= event.name %></td>        
        <td class="border"><strong>Descripcion:</strong> <%= event.description %></td>
        <td class="border"><%= link_to 'Ver', event, class: 'btn btn-success' %></td>
        <td class="border"><%= link_to 'Editar', edit_event_path(event), class:'btn btn-primary' %></td>
        <td class="border"><%= link_to 'Eliminar', event, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-secondary' %></td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'Crear Nuevo Evento', new_event_path, class: 'btn btn-outline-success' %>

