<%= form_with(model: item, local: true) do |form| %>
<% if item.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>
  <ul>
    <% item.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group my-5">
  <%= form.label :name, "Nombre del item", class: "col-lg-2 control-label" %>
  <div class="col-lg-10">
    <%= form.text_field :name, id: :product_name %>
  </div>
</div>

<%= hidden_field_tag :list_id, params[:list_id] %>


<div class="actions">
  <%= form.submit %>
</div>
<% end %>